USE [StuMarketDb]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 7/11/2020 10:53:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[MobileNumber] [nvarchar](max) NOT NULL,
	[NidNo] [nvarchar](max) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[DateofBirth] [nvarchar](50) NOT NULL,
	[ProfilePicture] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[ReferedBy] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[InTime] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buy]    Script Date: 7/11/2020 10:53:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buy](
	[BuyId] [int] NOT NULL,
	[Invoice] [nvarchar](50) NOT NULL,
	[PostId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[BuyerId] [int] NOT NULL,
	[SellerId] [int] NOT NULL,
	[DeadLine] [nvarchar](50) NULL,
	[Quantity] [int] NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[SellerNoti] [nvarchar](50) NULL,
	[BuyerNoti] [nvarchar](50) NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[Intime] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Buy] PRIMARY KEY CLUSTERED 
(
	[BuyId] ASC,
	[Invoice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/11/2020 10:53:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[InTime] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[District]    Script Date: 7/11/2020 10:53:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[DISTRICTID] [int] NOT NULL,
	[DIVISIONID] [int] NULL,
	[DISTRICTNM] [nvarchar](50) NOT NULL,
	[BDNAME] [nvarchar](100) NULL,
	[LATITUDE] [float] NULL,
	[LONGITUDE] [float] NULL,
	[WEBADDRESS] [nvarchar](100) NULL,
	[CREATE_AT] [smalldatetime] NULL,
	[UPDATE_AT] [smalldatetime] NULL,
 CONSTRAINT [PK_District] PRIMARY KEY CLUSTERED 
(
	[DISTRICTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Division]    Script Date: 7/11/2020 10:53:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Division](
	[ID] [int] NOT NULL,
	[DIVISION] [nvarchar](50) NULL,
	[BDNAME] [nvarchar](50) NULL,
	[CREATE_AT] [nvarchar](50) NULL,
	[UPDATE_AT] [nvarchar](50) NULL,
 CONSTRAINT [PK_Division] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayPrice]    Script Date: 7/11/2020 10:53:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayPrice](
	[PayId] [int] NOT NULL,
	[BuyerId] [int] NOT NULL,
	[SellerId] [int] NOT NULL,
	[OrderInvoice] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[TrxId] [nvarchar](50) NOT NULL,
	[Intime] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PayPrice] PRIMARY KEY CLUSTERED 
(
	[PayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostAd]    Script Date: 7/11/2020 10:53:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostAd](
	[PostId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Status] [nchar](1) NULL,
	[Intime] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PostAd] PRIMARY KEY CLUSTERED 
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostPic]    Script Date: 7/11/2020 10:53:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostPic](
	[PicId] [int] NOT NULL,
	[PostId] [int] NOT NULL,
	[Picture] [nvarchar](max) NOT NULL,
	[Intime] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PostPic] PRIMARY KEY CLUSTERED 
(
	[PicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserList]    Script Date: 7/11/2020 10:53:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserList](
	[UserId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[MobileNo] [nvarchar](50) NOT NULL,
	[DOB] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Division] [int] NOT NULL,
	[District] [int] NOT NULL,
	[Address] [nvarchar](50) NULL,
	[GNidNo] [nvarchar](50) NOT NULL,
	[BCertNo] [nvarchar](50) NOT NULL,
	[NidNo] [nvarchar](50) NULL,
	[About] [nvarchar](max) NOT NULL,
	[Picture] [nvarchar](max) NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Status] [nchar](1) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Intime] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserList] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([AdminId], [Name], [Email], [MobileNumber], [NidNo], [Gender], [DateofBirth], [ProfilePicture], [Password], [Type], [ReferedBy], [Status], [InTime]) VALUES (1, N'Sakib Hossain', N'sakib@gmail.com', N'01685685506', N'7841248490', N'Male', N'02-08-1996', N'/Photos/Admin/1.png', N'S', N'Super Admin', N'none', N'Active', N'02-07-2020_11:58:00')
INSERT [dbo].[Admin] ([AdminId], [Name], [Email], [MobileNumber], [NidNo], [Gender], [DateofBirth], [ProfilePicture], [Password], [Type], [ReferedBy], [Status], [InTime]) VALUES (2, N'Mehedi', N'mehedi@gmail.com', N'01843911345', N'122343434', N'Male', N'02-07-2020', N'/Photos/Admin/2.png', N'S', N'Super Admin', N'sakib@gmail.com', N'Active', N'02/07/2020_01:46:03')
INSERT [dbo].[Buy] ([BuyId], [Invoice], [PostId], [Price], [TotalPrice], [BuyerId], [SellerId], [DeadLine], [Quantity], [Type], [Status], [SellerNoti], [BuyerNoti], [PaymentMethod], [Intime]) VALUES (1001, N'2020070001', 1003, CAST(20000.00 AS Decimal(18, 2)), CAST(20000.00 AS Decimal(18, 2)), 1002, 1001, N'', 1, N'Buy', N'Confirmed', N'Readed', N'Readed', N'Cash on delivery', N'04/07/2020_08:27:14')
INSERT [dbo].[Buy] ([BuyId], [Invoice], [PostId], [Price], [TotalPrice], [BuyerId], [SellerId], [DeadLine], [Quantity], [Type], [Status], [SellerNoti], [BuyerNoti], [PaymentMethod], [Intime]) VALUES (1002, N'2020070001', 1001, CAST(150.00 AS Decimal(18, 2)), CAST(150.00 AS Decimal(18, 2)), 1002, 1001, N'', 1, N'Buy', N'Rejected', N'Readed', N'Readed', N'Pay Online', N'04/07/2020_08:27:15')
INSERT [dbo].[Buy] ([BuyId], [Invoice], [PostId], [Price], [TotalPrice], [BuyerId], [SellerId], [DeadLine], [Quantity], [Type], [Status], [SellerNoti], [BuyerNoti], [PaymentMethod], [Intime]) VALUES (1003, N'2020070002', 1002, CAST(170.00 AS Decimal(18, 2)), CAST(850.00 AS Decimal(18, 2)), 1002, 1001, N'20-07-2020', 5, N'Order', N'Confirmed', N'Readed', N'Readed', N'Pay Online', N'04/07/2020_08:27:31')
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [InTime]) VALUES (1, N'Handicraft', N'26/06/2020_11:45:18')
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [InTime]) VALUES (2, N'Software', N'26/06/2020_11:58:22')
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [InTime]) VALUES (3, N'IOT', N'27/06/2020_01:03:33')
INSERT [dbo].[District] ([DISTRICTID], [DIVISIONID], [DISTRICTNM], [BDNAME], [LATITUDE], [LONGITUDE], [WEBADDRESS], [CREATE_AT], [UPDATE_AT]) VALUES (1, 3, N'Dhaka', N'ঢাকা', 23.7115253, 90.4111451, N'www.dhaka.gov.bd', CAST(N'2015-09-13T04:33:00' AS SmallDateTime), CAST(N'2015-09-13T04:36:00' AS SmallDateTime))
INSERT [dbo].[District] ([DISTRICTID], [DIVISIONID], [DISTRICTNM], [BDNAME], [LATITUDE], [LONGITUDE], [WEBADDRESS], [CREATE_AT], [UPDATE_AT]) VALUES (2, 3, N'Faridpur', N'ফরিদপুর', 23.6070822, 89.8429406, N'www.faridpur.gov.bd', CAST(N'2015-09-13T04:33:00' AS SmallDateTime), CAST(N'2015-09-13T04:36:00' AS SmallDateTime))
INSERT [dbo].[District] ([DISTRICTID], [DIVISIONID], [DISTRICTNM], [BDNAME], [LATITUDE], [LONGITUDE], [WEBADDRESS], [CREATE_AT], [UPDATE_AT]) VALUES (3, 3, N'Gazipur', N'গাজীপুর', 24.0022858, 90.4264283, N'www.gazipur.gov.bd', CAST(N'2015-09-13T04:33:00' AS SmallDateTime), CAST(N'2015-09-13T04:36:00' AS SmallDateTime))
INSERT [dbo].[Division] ([ID], [DIVISION], [BDNAME], [CREATE_AT], [UPDATE_AT]) VALUES (1, N'Barisal', N'বরিশাল', N'0000/00/00 00:00:00', N'0000/00/00 00:00:00')
INSERT [dbo].[Division] ([ID], [DIVISION], [BDNAME], [CREATE_AT], [UPDATE_AT]) VALUES (2, N'Chittagong', N'চট্টগ্রাম', N'0000-00-00 00:00:00', N'0000-00-00 00:00:00')
INSERT [dbo].[Division] ([ID], [DIVISION], [BDNAME], [CREATE_AT], [UPDATE_AT]) VALUES (3, N'Dhaka', N'ঢাকা', N'0000-00-00 00:00:00', N'0000-00-00 00:00:00')
INSERT [dbo].[PayPrice] ([PayId], [BuyerId], [SellerId], [OrderInvoice], [Price], [TrxId], [Intime]) VALUES (1001, 1002, 1001, N'2020070001', CAST(20150.00 AS Decimal(18, 2)), N'7GNCGSYEV4O987V', N'05/07/2020_11:16:13')
INSERT [dbo].[PostAd] ([PostId], [UserId], [CategoryId], [ProductName], [Description], [Price], [Status], [Intime]) VALUES (1001, 1001, 1, N'Pencil Box', N'Demo', CAST(150.00 AS Decimal(18, 2)), N'A', N'01/07/2020_11:49:50')
INSERT [dbo].[PostAd] ([PostId], [UserId], [CategoryId], [ProductName], [Description], [Price], [Status], [Intime]) VALUES (1002, 1001, 1, N'Bamboo Pencil Box', N'I have 5 pieces', CAST(170.00 AS Decimal(18, 2)), N'A', N'04/07/2020_05:24:12')
INSERT [dbo].[PostAd] ([PostId], [UserId], [CategoryId], [ProductName], [Description], [Price], [Status], [Intime]) VALUES (1003, 1001, 7, N'Wedding Planner', N'Price will be increase or decrease based on plan.', CAST(20000.00 AS Decimal(18, 2)), N'A', N'04/07/2020_05:43:34')
INSERT [dbo].[PostPic] ([PicId], [PostId], [Picture], [Intime]) VALUES (1001, 1001, N'/Photos/Post/pencilbox.jpg', N'01/07/2020_11:49:50')
INSERT [dbo].[PostPic] ([PicId], [PostId], [Picture], [Intime]) VALUES (1002, 1002, N'/Photos/Post/pencilbox.jpg', N'04/07/2020_05:24:13')
INSERT [dbo].[PostPic] ([PicId], [PostId], [Picture], [Intime]) VALUES (1003, 1003, N'/Photos/Post/49262.jpg', N'04/07/2020_05:43:35')
INSERT [dbo].[UserList] ([UserId], [Name], [Email], [MobileNo], [DOB], [Gender], [Division], [District], [Address], [GNidNo], [BCertNo], [NidNo], [About], [Picture], [Type], [Status], [Password], [Intime]) VALUES (1001, N'Sakib Hossain', N'shfsakib@gmail.com', N'01685685506', N'02-08-1996', N'Male', 2, 43, N'Chandgaon', N'18268429018237', N'121781982328232', N'8780456328', N'Software developer', N'/Photos/1001.png', N'Seller', N'A', N'123', N'27/06/2020_01:12:05')
INSERT [dbo].[UserList] ([UserId], [Name], [Email], [MobileNo], [DOB], [Gender], [Division], [District], [Address], [GNidNo], [BCertNo], [NidNo], [About], [Picture], [Type], [Status], [Password], [Intime]) VALUES (1002, N'Tirtha Talukder', N'tirtha@gmail.com', N'01685685506', N'09-08-1995', N'Male', 2, 43, N'Kajir Dewri', N'232323121232', N'343121244233', N'22224512121', N'Good', N'/Photos/1002.png', N'Buyer', N'A', N'123', N'27/06/2020_01:29:25')
ALTER TABLE [dbo].[District] ADD  CONSTRAINT [DF_District_BDNAME]  DEFAULT (N'N') FOR [BDNAME]
GO
